- duration = (@db.finished.nil? ? Time.now.to_i : @db.finished) - @db.submitted

%table#worker_status.width-100.small{ 'data-worker-state' => @db.worker_state, 'data-worker-duration' => duration }
  %thead
    %tr
      %th{:style => 'width:20%'} Started
      %th{:style => 'width:20%'} Duration (secs)
      %th{:style => 'width:20%'} Worker state
      %th{:style => 'width:40%'} Worker message
  %tbody
    %tr
      %td#sub= human_time @db.submitted
      %td#dur= duration
      %td#ste= @db.worker_state
      %td#msg= @db.worker_msg
