#status_table
  = haml :carve_status_table

- unless defined? @err

  - if @db.worker_state == 'done'
    %a.btn{:href => "/download/#{@db.chksum}"} Download

  - elsif @db.worker_state != 'failed'
    :javascript
      function interval_monitor(millisecs) {
        var timer = setInterval(function(){
          $('div#status_table').load(location.href + " table", function(){
            var state = $('table#worker_status').data('worker-state');
            console.log(state);
            if (state == "done" || state == "failed") {
              clearInterval(ival);
              document.location = '/download/#{@db.chksum}';
            } else {
              var duration = $('table#worker_status').data('worker-duration');
              if (duration > 20 && ival == 1) {
                clearInterval(ival);
                window.ival = interval_monitor(10000);
              }
            }
          });
        }, millisecs);
        return(timer);
      }

      $(document).ready(function(){
        window.ival = interval_monitor(1000);
      });
