!!! 5
%html

  %head
    %title Pcaper
    %link{:rel => 'stylesheet', :href => '/css/kube.min.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/master.css', :type => 'text/css'}
    %script{:src => '/js/jquery.min.js'}
    %script{:src => '/js/pcaper.js'}
    /[if lt IE 9]
      <!-- %script{:src => '/js/html5.js'}

  %body
    %nav.nav-h
      %ul
        %li.bold
          %a{:href => '/find'} Find
        %li
          %a{:href => '/browse'} Browse

    .container.row
      - if defined? @err
        %div.red
          = h @err

      = yield
